<div>
    <h2>
        <span jhiTranslate="advertiserBoApp.contact.home.title">Contacts</span>
        <button class="btn btn-primary float-right jh-create-entity create-contact" [routerLink]="['/', { outlets: { popup: ['contact-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="advertiserBoApp.contact.home.createLabel">
            Create new Contact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'advertiserBoApp.contact.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contacts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastname"><span jhiTranslate="advertiserBoApp.contact.lastname">Lastname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstname"><span jhiTranslate="advertiserBoApp.contact.firstname">Firstname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="brandId"><span jhiTranslate="advertiserBoApp.contact.brand">Brand</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="agencyId"><span jhiTranslate="advertiserBoApp.contact.agency">Agency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mediaId"><span jhiTranslate="advertiserBoApp.contact.media">Media</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contact of contacts ;trackBy: trackId">
                <td><a [routerLink]="['../contact', contact.id ]">{{contact.id}}</a></td>
                <td>{{contact.lastname}}</td>
                <td>{{contact.firstname}}</td>
                <td>
                    <div *ngIf="contact.brandId">
                        <a [routerLink]="['../brand', contact.brandId  ]" >{{contact.brandId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contact.agencyId">
                        <a [routerLink]="['../agency', contact.agencyId  ]" >{{contact.agencyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contact.mediaId">
                        <a [routerLink]="['../media', contact.mediaId  ]" >{{contact.mediaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contact', contact.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="contacts && contacts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
