<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAdCampaingLabel" jhiTranslate="adminBoApp.adCampaing.home.createOrEditLabel">Create or edit a Ad Campaing</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!adCampaing.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="adCampaing.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="adminBoApp.adCampaing.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="adCampaing.name" required maxlength="60"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="adminBoApp.adCampaing.initialAmount" for="field_initialAmount">Initial Amount</label>
            <input type="number" class="form-control" name="initialAmount" id="field_initialAmount"
                [(ngModel)]="adCampaing.initialAmount" required/>
            <div [hidden]="!(editForm.controls.initialAmount?.dirty && editForm.controls.initialAmount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.initialAmount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.initialAmount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="adminBoApp.adCampaing.start" for="field_start">Start</label>
            <div class="d-flex">
                <input id="field_start" type="datetime-local" class="form-control" name="start" [(ngModel)]="adCampaing.start"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.start?.dirty && editForm.controls.start?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.start?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.start?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="adminBoApp.adCampaing.end" for="field_end">End</label>
            <div class="d-flex">
                <input id="field_end" type="datetime-local" class="form-control" name="end" [(ngModel)]="adCampaing.end"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.end?.dirty && editForm.controls.end?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.end?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.end?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="adminBoApp.adCampaing.brand" for="field_brand">Brand</label>
            <select class="form-control" id="field_brand" name="brand" [(ngModel)]="adCampaing.brandId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="brandOption.id" *ngFor="let brandOption of brands; trackBy: trackBrandById">{{brandOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="adminBoApp.adCampaing.sector" for="field_sector">Sector</label>
            <select class="form-control" id="field_sector" name="sector" [(ngModel)]="adCampaing.sectorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sectorOption.id" *ngFor="let sectorOption of sectors; trackBy: trackSectorById">{{sectorOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="adminBoApp.adCampaing.providedBy" for="field_providedBy">Provided By</label>
            <select class="form-control" id="field_providedBy" name="providedBy" [(ngModel)]="adCampaing.providedById" >
                <option [ngValue]="null"></option>
                <option [ngValue]="agencyOption.id" *ngFor="let agencyOption of agencies; trackBy: trackAgencyById">{{agencyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
