<div>
    <h2>
        <span jhiTranslate="adminBoApp.bidCategoryMedia.home.title">Bid Category Medias</span>
        <button class="btn btn-primary float-right jh-create-entity create-bid-category-media" [routerLink]="['/', { outlets: { popup: ['bid-category-media-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="adminBoApp.bidCategoryMedia.home.createLabel">
            Create new Bid Category Media
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'adminBoApp.bidCategoryMedia.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bidCategoryMedias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bid"><span jhiTranslate="adminBoApp.bidCategoryMedia.bid">Bid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mediaType"><span jhiTranslate="adminBoApp.bidCategoryMedia.mediaType">Media Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adId"><span jhiTranslate="adminBoApp.bidCategoryMedia.ad">Ad</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categoryId"><span jhiTranslate="adminBoApp.bidCategoryMedia.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mediaId"><span jhiTranslate="adminBoApp.bidCategoryMedia.media">Media</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bidCategoryMedia of bidCategoryMedias ;trackBy: trackId">
                <td><a [routerLink]="['../bid-category-media', bidCategoryMedia.id ]">{{bidCategoryMedia.id}}</a></td>
                <td>{{bidCategoryMedia.bid}}</td>
                <td jhiTranslate="{{'adminBoApp.AdMediaType.' + bidCategoryMedia.mediaType}}">{{bidCategoryMedia.mediaType}}</td>
                <td>
                    <div *ngIf="bidCategoryMedia.adId">
                        <a [routerLink]="['../ad', bidCategoryMedia.adId  ]" >{{bidCategoryMedia.adId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bidCategoryMedia.categoryId">
                        <a [routerLink]="['../category', bidCategoryMedia.categoryId  ]" >{{bidCategoryMedia.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bidCategoryMedia.mediaId">
                        <a [routerLink]="['../media', bidCategoryMedia.mediaId  ]" >{{bidCategoryMedia.mediaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bid-category-media', bidCategoryMedia.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bid-category-media/'+ bidCategoryMedia.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bid-category-media/'+ bidCategoryMedia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bidCategoryMedias && bidCategoryMedias.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
