<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMediaTargetLabel" jhiTranslate="advertiserBoApp.mediaTarget.home.createOrEditLabel">Create or edit a Media Target</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mediaTarget.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mediaTarget.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.mediaTarget.mediaType" for="field_mediaType">Media Type</label>
            <select class="form-control" name="mediaType" [(ngModel)]="mediaTarget.mediaType" id="field_mediaType"  required>
                <option value="WEB">{{'advertiserBoApp.AdMediaType.WEB' | translate}}</option>
                <option value="MOBILE">{{'advertiserBoApp.AdMediaType.MOBILE' | translate}}</option>
                <option value="RADIO">{{'advertiserBoApp.AdMediaType.RADIO' | translate}}</option>
                <option value="TV">{{'advertiserBoApp.AdMediaType.TV' | translate}}</option>
                <option value="STREAMING_VIDEO">{{'advertiserBoApp.AdMediaType.STREAMING_VIDEO' | translate}}</option>
                <option value="STREAMING_AUDIO">{{'advertiserBoApp.AdMediaType.STREAMING_AUDIO' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.mediaType?.dirty && editForm.controls.mediaType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mediaType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.mediaTarget.brand" for="field_brand">Brand</label>
            <select class="form-control" id="field_brand" name="brand" [(ngModel)]="mediaTarget.brandId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="brandOption.id" *ngFor="let brandOption of brands; trackBy: trackBrandById">{{brandOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
