
<div *ngIf="mediaTarget">
    <h2><span jhiTranslate="advertiserBoApp.mediaTarget.detail.title">Media Target</span> {{mediaTarget.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="advertiserBoApp.mediaTarget.mediaType">Media Type</span></dt>
        <dd>
            <span jhiTranslate="{{'advertiserBoApp.AdMediaType.' + mediaTarget.mediaType}}">{{mediaTarget.mediaType}}</span>
        </dd>
        <dt><span jhiTranslate="advertiserBoApp.mediaTarget.brand">Brand</span></dt>
        <dd>
            <div *ngIf="mediaTarget.brandId">
                <a [routerLink]="['/brand', mediaTarget.brandId]">{{mediaTarget.brandId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'media-target/'+ mediaTarget.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
