
<div *ngIf="sector">
    <h2><span jhiTranslate="advertiserBoApp.sector.detail.title">Sector</span> {{sector.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="advertiserBoApp.sector.code">Code</span></dt>
        <dd>
            <span>{{sector.code}}</span>
        </dd>
        <dt><span jhiTranslate="advertiserBoApp.sector.description">Description</span></dt>
        <dd>
            <span>{{sector.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
