
<div *ngIf="permission">
    <h2><span jhiTranslate="adminBoApp.permission.detail.title">Permission</span> {{permission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="adminBoApp.permission.name">Name</span></dt>
        <dd>
            <span>{{permission.name}}</span>
        </dd>
        <dt><span jhiTranslate="adminBoApp.permission.extention">Extention</span></dt>
        <dd>
            <span>{{permission.extention}}</span>
        </dd>
        <dt><span jhiTranslate="adminBoApp.permission.description">Description</span></dt>
        <dd>
            <span>{{permission.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'permission/'+ permission.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
