<div>
    <h2>
        <span jhiTranslate="advertiserBoApp.agency.home.title">Agencies</span>
        <button class="btn btn-primary float-right jh-create-entity create-agency" [routerLink]="['/', { outlets: { popup: ['agency-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="advertiserBoApp.agency.home.createLabel">
            Create new Agency
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'advertiserBoApp.agency.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="agencies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="advertiserBoApp.agency.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="siret"><span jhiTranslate="advertiserBoApp.agency.siret">Siret</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="siren"><span jhiTranslate="advertiserBoApp.agency.siren">Siren</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="legalStatus"><span jhiTranslate="advertiserBoApp.agency.legalStatus">Legal Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logo"><span jhiTranslate="advertiserBoApp.agency.logo">Logo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agency of agencies ;trackBy: trackId">
                <td><a [routerLink]="['../agency', agency.id ]">{{agency.id}}</a></td>
                <td>{{agency.name}}</td>
                <td>{{agency.siret}}</td>
                <td>{{agency.siren}}</td>
                <td jhiTranslate="{{'advertiserBoApp.LegalStatus.' + agency.legalStatus}}">{{agency.legalStatus}}</td>
                <td>
                    <a *ngIf="agency.logo" (click)="openFile(agency.logoContentType, agency.logo)">
                        <img [src]="'data:' + agency.logoContentType + ';base64,' + agency.logo" style="max-height: 30px;" alt="agency image"/>
                    </a>
                    <span *ngIf="agency.logo">{{agency.logoContentType}}, {{byteSize(agency.logo)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../agency', agency.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agency/'+ agency.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agency/'+ agency.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="agencies && agencies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
