<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMediaLabel" jhiTranslate="advertiserBoApp.media.home.createOrEditLabel">Create or edit a Media</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!media.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="media.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.media.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="media.name" required maxlength="256"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.media.passPhrase" for="field_passPhrase">Pass Phrase</label>
            <input type="text" class="form-control" name="passPhrase" id="field_passPhrase"
                [(ngModel)]="media.passPhrase" required minlength="16"/>
            <div [hidden]="!(editForm.controls.passPhrase?.dirty && editForm.controls.passPhrase?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.passPhrase?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.passPhrase?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 16 }">
                   This field is required to be at least 16 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.media.extId" for="field_extId">Ext Id</label>
            <input type="text" class="form-control" name="extId" id="field_extId"
                [(ngModel)]="media.extId" required/>
            <div [hidden]="!(editForm.controls.extId?.dirty && editForm.controls.extId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.extId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.media.siret" for="field_siret">Siret</label>
            <input type="text" class="form-control" name="siret" id="field_siret"
                [(ngModel)]="media.siret" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.media.siren" for="field_siren">Siren</label>
            <input type="text" class="form-control" name="siren" id="field_siren"
                [(ngModel)]="media.siren" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.media.legalStatus" for="field_legalStatus">Legal Status</label>
            <select class="form-control" name="legalStatus" [(ngModel)]="media.legalStatus" id="field_legalStatus" >
                <option value="SARL">{{'advertiserBoApp.LegalStatus.SARL' | translate}}</option>
                <option value="SA">{{'advertiserBoApp.LegalStatus.SA' | translate}}</option>
                <option value="SAS">{{'advertiserBoApp.LegalStatus.SAS' | translate}}</option>
                <option value="SASU">{{'advertiserBoApp.LegalStatus.SASU' | translate}}</option>
                <option value="SNC">{{'advertiserBoApp.LegalStatus.SNC' | translate}}</option>
                <option value="EURL">{{'advertiserBoApp.LegalStatus.EURL' | translate}}</option>
                <option value="EI">{{'advertiserBoApp.LegalStatus.EI' | translate}}</option>
                <option value="ASSOCIATION">{{'advertiserBoApp.LegalStatus.ASSOCIATION' | translate}}</option>
                <option value="AUTO_ENTREPRENEUR">{{'advertiserBoApp.LegalStatus.AUTO_ENTREPRENEUR' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="advertiserBoApp.media.logo" for="field_logo">Logo</label>
            <div>
                <img [src]="'data:' + media.logoContentType + ';base64,' + media.logo" style="max-height: 100px;" *ngIf="media.logo" alt="media image"/>
                <div *ngIf="media.logo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{media.logoContentType}}, {{byteSize(media.logo)}}</span>
                    <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_logo" (change)="setFileData($event, media, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="logo" id="field_logo"
                [(ngModel)]="media.logo" required/>
            <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                [(ngModel)]="media.logoContentType" />
            <div [hidden]="!(editForm.controls.logo?.dirty && editForm.controls.logo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.logo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
